/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

span .days-of-week {
  font-family: $font__header-bold;
  font-weight: 700;
}

/* Map */
iframe {
  height: 300px;
  width: 100%;
}

/* Comments */

.comment-form textarea,
.comment-form input[type='text'] {
  background: $color__bg-input;
}

.comment-content a {
  word-wrap: break-word;
  color: $color__link;
}
.bypostauthor {
  display: block;
}

.comments-title,
.comment-reply-title {
  color: $color-content;
  font-size: 2rem;
  padding-top: 2rem;
}
.comment-author cite {
  font-family: $font__main-bold;
  font-style: normal;
  text-transform: capitalize;
}
.comment-author-avatar {
  border-radius: 50%;
  height: 64px;
  margin-right: 1.5rem;
  overflow: hidden;
  width: 64px;
}
.comment-body {
  display: flex;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  // &:last-child {
  //   border-bottom: $border;
  // }
  //   li {
  //     border-bottom: none;
  //   }
}

.comment-list {
  margin-left: 0;
  padding-left: 0;
  border-top: none;
  .children {
    border-top: $border;
    border-bottom: $border;
  }
  ul li {
    // border-top: $border;
    margin-left: 1.5rem;
  }
}
.comment-metadata {
  color: grey;
}
.form-text,
.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url {
  font-family: $font__header;
  text-transform: uppercase;
}
.comment-form-author,
.comment-form-email {
  width: 49%;
}
.comment-form-comment textarea,
.comment-form-url input,
.comment-form-author input,
.comment-form-email input {
  background: $color__bg-input;
  border: $border;
  width: 100%;
}

.form-text {
  input[type='text'],
  input[type='email'],
  input[type='url'],
  input[type='password'],
  input[type='search'],
  textarea {
    background: $color__bg-input;
    border: $border;
  }
}
