/*--------------------------------------------------------------
# Entry-Footer
--------------------------------------------------------------*/
.cat-links {
  margin-right: 1.5rem;
}
.cat-links,
.tags-links {
  text-transform: uppercase;
  font-family: $font__header;
  a {
    text-transform: uppercase;
    font-family: $font__header;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#colophon {
  background: url('../../images/dark-wood.png');
}

// .site-footer {
//   width: 1120px;
// }
.site-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  max-width: 1120px;
  margin: auto;
}

.footer-block-item {
  display: flex;
  height: auto;
  width: 25%;
  a:hover {
    text-decoration: underline;
  }
  h3 {
    display: flex;
    flex-direction: column;
    color: $color-header;
    text-transform: uppercase;
    font-family: $font__header-bold;
  }

  i {
    margin-right: 0.5rem;
    height: 100%;
  }
  p {
    color: $font-light;
    font-family: $font__main;
    margin-bottom: 0;
    a {
      color: $font-light;
      font-family: $font__main;
    }
  }
  &:last-child {
    align-self: flex-start;
    justify-content: flex-end;
    padding-right: 0;
    width: 50%;
  }
  .text-logo {
    max-width: 50%;
  }
}

.copyright {
  text-transform: uppercase;
  color: $font-light;
  font-family: $font__header;
  text-align: center;
  padding: 1.5rem 0;
}
