#colophon {
  background: url('../../images/dark-wood.png');
}
.site-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  max-width: 1120px;
  margin: auto;
}

.footer-block-item {
  display: flex;
  flex-direction: column;
  h3 {
    color: $footer__header;
    text-transform: uppercase;
    font-family: $font__header;
  }
  p {
    color: #fff;
    font-family: $font__main;
    margin-bottom: 0;
  }
  &:last-child {
    align-self: flex-start;
    height: auto;
  }
}

.text-logo {
  // display: flex;
  margin-left: 0;
  img {
    max-width: 50%;
  }
}

.copyright {
  text-transform: uppercase;
  color: white;
  font-family: $font__header;
  text-align: center;
  padding: 1.5rem 0;
}
span {
  padding-right: 1rem;
  width: 15px;
  height: auto;
}
