/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__link;

  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* Site-Header */
.page-template-about,
.adventure-template-default,
.home {
  .site-header {
    margin: 0.5rem 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .site-content {
    padding-top: 0;
    width: auto;
  }
}

.frontpage-header {
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: $border;
}

.site-header {
  margin-bottom: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.top-header {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
}

.fixed-header {
  background-color: rgba(255, 255, 255, 0.85);

  border-bottom: $border;
  color: $color__link;
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  .site-logo {
    background: url(../../images/inhabitent-logo-tent.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    text-align: left;
  }
}
.reverse-header {
  background: none;
  background-color: transparent;
  border-bottom: 0;
  color: $hover-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 32px;
  text-shadow: 1px 1px 2px #323232;
  width: 1120px;
  z-index: 5;

  a {
    color: $font-light;
    display: block;
    font-family: $font__header;
    padding: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  span {
    color: white;
  }

  .icon-search {
    text-shadow: 1px 1px 2px #323232;
    &:hover {
      color: $hover-light;
    }
  }

  .menu,
  .nav-menu {
    display: flex;
    align-items: center;
    margin: auto;
    li a {
      color: $font-light;
      &:hover {
        color: $hover-light;
      }
    }
  }

  .site-logo {
    background: url(../../images/inhabitent-logo-tent-white.svg) center/50px
      no-repeat;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    text-align: left;
  }
}

/* Menus */
.icon-search {
  padding: 0.25rem;
}
.main-navigation {
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 35px;
  width: 1120px;
  z-index: 5;
  a {
    color: $font-light;
    display: block;
    font-family: $font__header;
    padding: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  a {
    color: $font-light;
  }
  .nav-menu {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  }
  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: $base__space-unit;
      left: -999rem;
      z-index: 99999;

      ul {
        left: -999rem;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }
  li {
    // float: left;
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
  }
}

.top-menu {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  // display: block;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }

  .nav-previous {
    width: 50%;
  }

  .nav-next {
    text-align: right;
    width: 50%;
  }
}

.menu li a {
  color: $color__link;
  &:hover {
    color: $color__link-hover;
  }
}
.menu-item-home a {
  color: $font-light;
}

.tent-logo,
.tent-logo-white,
.tent-logo-green {
  display: flex;
  justify-self: center;
  width: 50px;
}
.tent-logo-green {
  display: none;
}
