/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* About page */
.entry-content {
  margin: auto;
  padding: 3rem 0;
  h1 {
  }
  h2,
  h3 {
    color: #2f1339;
    font-size: 2rem;
  }
}

.page-template-about .entry-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-page {
  .entry-title {
    background: transparent;
    color: $color__text-main;
    font-family: $font__header-bold;
    font-size: 2.4rem;
    margin-top: 0;
  }
}

/*------------------------------------
# Front Page
--------------------------------------*/
.front-content-area {
  padding-bottom: 3rem;
}
.front-title {
  font-family: $font__header;
  font-size: 2rem;
  padding-bottom: 3rem;
  padding-top: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
.menu-item-home {
  a {
    color: $font-light;
    border-bottom: none;
  }
}

// Header
.home-header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../images/home-hero.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.logo {
  align-self: center;
}
.site-header {
  position: relative;
}
// Frontpage Journal
.front-journal {
  display: flex;
  justify-content: space-between;
}

.front-journal-title {
  line-height: 1.25;
  padding-bottom: 1rem;
  text-transform: uppercase;
  &:hover {
    color: $color__link-hover;
  }
  a {
    color: $color__link;
    font-family: $font__header-bold;
    font-size: 1.3rem;
    letter-spacing: 2px;
  }
}
.front-meta {
  font-size: 0.75rem;
}
.journal-entry {
  border: $border;
  max-width: 32%;
}
.post-entry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  // max-height: 300px;
  // overflow: hidden;
  padding: 0.75rem;
}
.post-thumbnail {
  border-bottom: 5px solid #e1e1e1;
  max-height: 230px;
  overflow: hidden;
  position: bottom;
  img {
    height: auto;
  }
}

// Frontpage SHOP
.front-shop {
  display: flex;
  justify-content: space-between;
}
.frontpage-term {
  border: $border;
  border-top: 5px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 23%;
  padding: 0.6rem;
  text-align: center;
  &:hover {
    border: 1px solid #d99054;
    border-top: 5px solid #d99054;
  }
  a:visited {
    color: #fff;
  }
  img {
    width: 70px;
    height: 70px;
  }
  p {
    margin-bottom: 1rem;
  }
}
.site-content {
  display: flex;
  justify-content: center;
  margin: auto;
}

/*------------------------------------
# Jounal Entry Blog
--------------------------------------*/
.content-area {
  border-right: $border;
  padding-right: 5%;
  width: 73%;
}
.content-area,
.widget-area {
  padding: 3rem 0;
}

.comments-link {
  a {
    color: $font-light;
    &:hover {
      color: $hover-light;
    }
  }
}

.entry-header {
  line-height: 0;
  // margin-top: 2.25rem;
  position: relative;
}

.entry-meta {
  background-color: $color__link;
  color: $font-light;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.entry-title {
  background-color: $color__link;
  color: $font-light;
  font-family: $font__header;
  font-size: 2.1rem;
  max-width: 75%;
  padding: 0.75rem 1.5rem;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  a {
    // background-color: $color__link;
    color: $font-light;
    font-family: $font__header;
    text-decoration: none;
    &:hover {
      color: $hover-light;
    }
  }
}

.hentry {
  padding-right: 5%;
}

.site-content {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 1120px;
}

// .site-main {
// }

/*--------------------------------------
# 404
----------------------------------------*/
.search-field {
  background: $color__background-pre;
}
