/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* About page */
.content-about {
  width: 100%;
  .entry-content {
    max-width: 800px;
  }
  .entry-title {
    background: transparent;
    color: $font-light;
    font-family: $font__header-bold;
    font-size: 3rem;
  }
  .entry-header {
    .entry-title {
      background: transparent;
      color: $font-light;
      font-family: $font__header-bold;
      font-size: 2.4rem;
      margin-top: 0;
    }
  }
  .entry-header {
    display: flex;
    justify-content: center;
    // height: auto;
    // width: 100vw;
    h1 {
      align-self: center;
      position: absolute;
    }
  }
}

.page-template-about {
  .entry-content {
    margin: auto;
    padding-bottom: 3rem;
    h2,
    h3 {
      color: $color-content;
      font-size: 2rem;
    }
  }
}

.page-template-default {
  .entry-title {
    margin-top: 0;
  }
}

/*------------------------------------
# Archive
--------------------------------------*/
.date,
.category {
  .site-content {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1120px;
  }
  .archive-area,
  .widget-area {
    padding: 3rem 0;
  }
  .archive-area {
    border-right: $border;
    padding-right: 5%;
    width: 73%;
    h1 {
      font-size: 2.4rem;
    }
    .page-header {
      border-bottom: $border;
      margin-bottom: 3rem;
    }
  }
}
/*------------------------------------
# Front Page
--------------------------------------*/
.home {
  .site-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1120px;
  }
  .entry-header {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../../images/home-hero.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
}

.front-content-area {
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
}
.front-title {
  font-family: $font__header;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
}
.menu-item-home {
  a {
    color: $font-light;
    border-bottom: none;
  }
}
//
.logo {
  align-self: center;
}

// Frontpage Journal
.front-journal {
  display: flex;
  justify-content: space-between;
}
.front-journal-title {
  line-height: 1.25;
  padding-bottom: 1rem;
  text-transform: uppercase;

  a {
    color: $color__link;
    font-family: $font__header-bold;
    font-size: 1.3rem;
    letter-spacing: 2px;
    &:hover {
      color: $color__link-hover;
    }
  }
}
.front-meta {
  font-size: 0.75rem;
}
.journal-entry {
  border: $border;
  max-width: 32%;
  padding-bottom: 1rem;
}
.post-entry {
  padding: 0.75rem;
}
.post-thumbnail {
  border-bottom: 5px solid #e1e1e1;
  max-height: 230px;
  overflow: hidden;
  position: bottom;
  img {
    height: auto;
  }
}

// Frontpage SHOP
.front-shop {
  display: flex;
  justify-content: space-between;
}
.frontpage-term {
  border: $border;
  border-top: 5px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 23%;
  padding: 0.6rem;
  text-align: center;
  &:hover {
    border: 1px solid #d99054;
    border-top: 5px solid #d99054;
  }
  a:visited {
    color: #fff;
  }
  img {
    width: 70px;
    height: 70px;
  }
  p {
    margin-bottom: 1rem;
  }
}

/*------------------------------------
# Jounal Entry Blog
--------------------------------------*/
.blog,
.post {
  .entry-content {
    padding-bottom: 1rem;
  }
  .entry-header {
    line-height: 0;
    position: relative;
    img {
      width: 100%;
    }
  }
  .entry-title {
    background-color: $color__link;
    color: $font-light;
    font-family: $font__header;
    font-size: 2.1rem;
    max-width: 75%;
    padding: 0.75rem 1.5rem;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    a {
      // background-color: $color__link;
      color: $font-light;
      font-family: $font__header;
      text-decoration: none;
      &:hover {
        color: $hover-light;
      }
    }
  }

  .comments-link {
    a {
      color: $font-light;
      font-family: $font__header;
      &:hover {
        color: $hover-light;
      }
    }
  }
}
.entry-meta {
  background-color: $color__link;
  color: $font-light;
  font-family: $font__header;
  padding: 1rem 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
}

// Overall site
.site-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
  width: 1120px;
}
.content-area,
.widget-area {
  padding: 3rem 0;
}
.content-area {
  border-right: $border;
  padding-right: 5%;
  width: 73%;
}
/*--------------------------------------
# 404
----------------------------------------*/
.error-404 {
  text-transform: none;
  .search-field {
    background: $color__bg-input;
    border: $border;
    height: auto;
    margin-bottom: 1rem;
    padding: 0.25rem 0.9rem;
    padding-left: 0.5rem;
    width: 200px;
  }
  input[type='search'],
  textarea {
    text-transform: none;
  }
}

/*--------------------------------------
# Search Results
----------------------------------------*/
.no-results,
.search-results {
  .entry-title a {
    font-family: $font__header-bold;
    font-size: 2rem;
  }
  .search-field {
    background: $color__bg-input;
    border: $border;
    color: $color__text-main;
    height: auto;
    text-transform: none;
    width: 200px;
  }
}
