/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* About page */
.content-about {
  width: 100%;
  .entry-content {
    max-width: 800px;
  }
  .entry-title {
    background: transparent;
    color: $font-light;
    font-family: $font__header-bold;
    font-size: 3rem;
  }
  .entry-header {
    .entry-title {
      background: transparent;
      color: $font-light;
      font-family: $font__header-bold;
      font-size: 2.4rem;
      margin-top: 0;
    }
  }
  .entry-header {
    display: flex;
    justify-content: center;
    // height: auto;
    // width: 100vw;
    h1 {
      align-self: center;
      position: absolute;
    }
  }
}
.entry-content {
  margin: auto;
  padding-bottom: 3rem;
  h2,
  h3 {
    color: $color-content;
    font-size: 2rem;
  }
}
.page-template-about {
  .site-content {
    width: auto;
  }
}

/*------------------------------------
# Front Page
--------------------------------------*/
.home {
  .site-content {
    width: 100%;
    // margin: auto;
  }
  .site-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1120px;
  }
}

.front-content-area {
  width: 100%;
  padding-bottom: 3rem;
}
.front-title {
  font-family: $font__header;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
}
.menu-item-home {
  a {
    color: $font-light;
    border-bottom: none;
  }
}

// Header
.home-header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../images/home-hero.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.logo {
  align-self: center;
}

// Frontpage Journal
.front-journal {
  display: flex;
  justify-content: space-between;
}
.front-journal-title {
  line-height: 1.25;
  padding-bottom: 1rem;
  text-transform: uppercase;

  a {
    color: $color__link;
    font-family: $font__header-bold;
    font-size: 1.3rem;
    letter-spacing: 2px;
    &:hover {
      color: $color__link-hover;
    }
  }
}
.front-meta {
  font-size: 0.75rem;
}
.journal-entry {
  border: $border;
  max-width: 32%;
}
.post-entry {
  // max-height: 300px;
  // overflow: hidden;
  padding: 0.75rem;
}
.post-thumbnail {
  border-bottom: 5px solid #e1e1e1;
  max-height: 230px;
  overflow: hidden;
  position: bottom;
  img {
    height: auto;
  }
}

// Frontpage SHOP
.front-shop {
  display: flex;
  justify-content: space-between;
}
.frontpage-term {
  border: $border;
  border-top: 5px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 23%;
  padding: 0.6rem;
  text-align: center;
  &:hover {
    border: 1px solid #d99054;
    border-top: 5px solid #d99054;
  }
  a:visited {
    color: #fff;
  }
  img {
    width: 70px;
    height: 70px;
  }
  p {
    margin-bottom: 1rem;
  }
}

.site-content {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 1120px;
}

// Frontpage Adventures
.adventures-container {
  width: 100%;
  .brand-btn {
    font-size: 1.2rem;
  }
}

.stories-container {
  // display: flex;
  // // justify-content: space-between;
  // height: 450px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 2fr;
}

.adventure {
  &:nth-of-type(1) {
    background-color: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    );
    grid-column: 1, 2;
    grid-row: 1, 2;
  }
  &:nth-of-type(2) {
    grid-column: 1, 2;
    grid-row: 1, 2;
  }
  &:nth-of-type(3) {
    grid-column: 1, 2;
    grid-row: 2, 3;
  }
}
.adv-thumbnail {
  position: absolute;
  img {
    // width: 100%;
  }
}
.adv-title a {
  color: $font-light;
  font-family: $font__main;
  font-size: 2.4rem;
  &:hover {
    color: $hover-light;
  }
}

.story-info {
  background-color: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  margin: 1.5rem;
  position: relative;
}

/*--------------------------------------
# Adventures
----------------------------------------*/
.adventre-single-content {
  .author {
    font-family: $font__header;
    text-transform: uppercase;
    width: 800px;
  }
  .adventure {
    width: 100%;
    .entry-header {
      margin: auto;
      width: 100%;
      img {
        width: 100vw;
      }
    }
    .entry-title {
      width: 800px;
    }
    .entry-content {
      padding-bottom: 0.25rem;
      width: 800px;
    }
  }
  .adventure-single-content {
    margin-bottom: 3rem;
  }
}
/*------------------------------------
# Jounal Entry Blog
--------------------------------------*/
.content-area {
  border-right: $border;
  width: 73%;
}
.content-area,
.widget-area {
  padding: 3rem 0;
  padding-right: 5%;
}

.comments-link {
  a {
    color: $font-light;
    font-family: $font__header;
    &:hover {
      color: $hover-light;
    }
  }
}

.blog,
.post {
  .entry-content {
    padding-bottom: 1rem;
  }
  .entry-header {
    line-height: 0;
    // margin-top: 2.25rem;
    position: relative;
    img {
      width: 100%;
    }
  }
  .entry-title {
    background-color: $color__link;
    color: $font-light;
    font-family: $font__header;
    font-size: 2.1rem;
    max-width: 75%;
    padding: 0.75rem 1.5rem;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    a {
      // background-color: $color__link;
      color: $font-light;
      font-family: $font__header;
      text-decoration: none;
      &:hover {
        color: $hover-light;
      }
    }
  }
  .site-content {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1120px;
  }
}

.entry-meta {
  background-color: $color__link;
  color: $font-light;
  font-family: $font__header;
  padding: 1rem 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
}

/*--------------------------------------
# 404
----------------------------------------*/
.error-404 {
  text-transform: none;
  .search-field {
    background: #f4f4f4;
    border: $border;
    margin-bottom: 1rem;
    padding: 0.25rem 0.9rem;
    padding-left: 0.5rem;
  }
  input[type='search'],
  textarea {
    text-transform: none;
  }
}
