/* Products */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}
.archive-links {
  border-bottom: $border-dash;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.entry-content {
  color: $color__text-main;
  font-family: $font__main;
  font-size: 1rem;
}

.product-area {
  .page-title {
    text-align: center;
  }
}

.product-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  .entry-content {
    display: none;
  }
}
.product-grid-item {
  border: $border;

  .thumbnail-wrapper {
    background-color: #e1e1e1;
    height: 250px;
    overflow: hidden;
    img {
      max-height: 245px;
      max-width: none;
      width: auto;
    }
  }
  .product-info {
    padding: 0.75rem 1rem;
  }
  .product-title {
    display: inline;
    font-family: $font__main;
    font-size: 1rem;
    text-transform: none;
  }
}

.product-link {
  color: $color__link;
  font-family: $font__header;
  font-size: 1.2rem;
  margin: 0 1.5rem;
  text-transform: uppercase;
  &:hover {
    color: $color__link-hover;
  }
}

.product-type-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  width: 1120px;
}

.taxonomy-description {
  display: none;
}

/* Single */
.product-image {
  width: 48%;
}
.product-wrapper {
  width: 48%;
}

.single-product {
  .entry-content {
    color: $color__text-main;
    p {
      font-family: $font__main;
      margin-top: 0;
    }
  }
  .product-title {
    color: $color-header;
    font-family: $font__header-bold;
    margin: 0;
    text-transform: uppercase;
  }
  .product-price {
    color: $color__text-main;
    font-family: $font__header;
    font-size: 2rem;
    line-height: 1;
    margin: 1rem 0;
  }
}
