/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
  margin: 0 0 $base__space-unit;
  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}

/* Sidebar */
.widget-title {
  font-family: $font__header-bold;
  a {
    @include link();
  }
}

ul {
  margin-left: 0;
  padding-left: 0;
  li {
    list-style: none;
  }
}

.contact-meta {
  display: flex;
  a {
    @include link();
  }
  i {
    margin-right: 0.5rem;
    width: 20px;
  }
}

.widget-area {
  width: 27%;
}
