/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
  margin: 0 0 3rem;
  /* Make sure select elements fit in widgets. */
  h2 {
    font-size: 1.5rem;
  }
  p {
    margin-bottom: 1rem;
  }
  select {
    max-width: 100%;
  }
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}
.search-submit {
  padding: 0 0.25rem;
  &:hover {
    background: transparent;
    border: none;
    color: $color__link;
  }
}
/* Sidebar */
.widget-title {
  font-family: $font__header-bold;
  a {
    @include link();
  }
}

ul {
  margin-left: 0;
  padding-left: 0;
  li {
    list-style: none;
  }
}

.contact-meta {
  display: flex;
  align-items: center;
  a {
    @include link();
  }
  i {
    margin-right: 0.5rem;
    width: 20px;
  }
}

.widget-area {
  margin-left: 5%;
  width: 27%;
}
